<tr>
  <td class="twiml_sms_request">
	<%= twiml_sms_request.Body %>
  </td>
  <td class="twiml_sms_request">
	<%= twiml_sms_request.From %>
  </td>
  <td class="twiml_sms_request">
	<%= twiml_sms_request.response %>
  </td>
</tr>