<h1>All Brands</h1>

<%= will_paginate @brands %>

<ul class="brands">
  <table class="brands" summary="Brands">
    <tr>
	<th>Name</th>
	<th>Merchant</th>
	<th>Created At</th>
	<th>Subscribers</th>
	<th>Flags</th>
    <%= render @brands %>
  </table>
</ul>

<%= will_paginate @brands %>