<ul>
 <li><%= link_to "Twilio Log", "https://www.twilio.com/user/account/log/sms"%></li>
 <li><%= link_to "Brands", brands_path %></li>
 <li><%= link_to "SmsRequests", twiml_sms_requests_path %></li>
</ul