<tr>
  <td class="subscriber">
	<%= subscriber.device_id %>
  </td>
  <td class="subscriber">
	<%= subscriber.type %>
  </td>
  <td class="subscriber">
	<%= subscriber.active? ? 'Yes' : 'No' %>
  </td>
  <td class="subscriber">
	<%=raw subscriber.brands.map { |b| b.title }.join('<br/>')%>
  </td>
</tr>
